[submodule "assets"]
	path = assets
	url = https://github.com/yuanming-hu/taichi_assets
	shallow = true
[submodule "./SPIRV-Tools"]
	branch = main
[submodule "./SPIRV-Cross"]
	branch = main
[submodule "./SPIRV-Headers"]
	branch = main
[submodule "./SPIRV-Reflect"]
	branch = main
