include python/gstaichi/*.md
recursive-include python/gstaichi/assets *
recursive-include python/gstaichi/examples *.py
include python/gstaichi/examples/autodiff/diff_sph/fc1_pretrained.pkl
include python/gstaichi/examples/autodiff/diff_sph/fc2_pretrained.pkl
include python/gstaichi/examples/algorithm/circle-packing/gstaichi_logo.png
recursive-include python/gstaichi/_lib/c_api *
include python/gstaichi/_lib/core/*.so
include python/gstaichi/_lib/core/*.pyd
include python/gstaichi/_lib/runtime/*.bc
include python/gstaichi/_lib/runtime/*.dylib
include python/gstaichi/shaders/*.spv
include python/gstaichi/shaders/*.vert
include python/gstaichi/shaders/*.frag

global-exclude *.pyc *.pyo
global-exclude ffmpeg
