Pillow
pytest
git+https://github.com/taichi-dev/pytest-xdist@a3b5ad3038#egg=pytest-xdist
pytest-rerunfailures
pytest-cov
pytest-retry
numpy>=2.0.0  # otherwise, on windows, tries to install 1.26.4, which has no wheel for python 3.13
psutil
autograd
requests
cffi
scipy
setproctitle
nbmake
marko
PyYAML
pyevtk
pyright
