name: api docs build

on:
  workflow_call:
    inputs:
      head_ref:
        description: 'The head ref (branch name or PR ref)'
        required: true
        type: string
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
  workflow_dispatch:
concurrency:
  group: gh-pages-deploy-${{ github.event.inputs.head_ref || github.head_ref }}
  cancel-in-progress: true
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: aws_storage
    steps:
      - uses: actions/checkout@v4
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Download artifact
        run: |
          set -x
          aws s3 sync s3://genesis-ai-compiler/ci/taichi/${GITHUB_SHA:0:7}/cp310/ dist/
      - name: Python check
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: manylinux install wheel
        run: |
          set -x
          ls -lh dist/
          pip install "$(ls dist/*.whl)[docs]"
          python -c 'import taichi as ti; ti.init(arch=ti.cpu); print(ti.__version__)'
          pip freeze | grep sphinx
      - name: Build docs
        run: |
          cd docs
          make html
      - name: Deploy docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build/html
          destination_dir: ${{ github.event.inputs.head_ref || github.head_ref }}
          keep_files: true
          publish_branch: gh-pages
